img {
	width: 30%;
	float: left;
	margin: 1.66%;
}


p { 

font-family: Amatic SC; 
margin-left: 1.66%;
font-size: 35px; 
font-weight: 800;
text-transform: uppercase;
border-bottom: 3px solid red;
width: 30%;
padding-bottom: 50px;

}
